
.Container_Head{
  display: flex;
  justify-content: space-evenly;
}
.HiddenNavigationBar
{
  display: none;
}
.RightSide
{
  margin-right: 25px;
}
.NavigationBar > a{
  color: black;
  margin-left: 65px;
  text-decoration: none;
}
.NavigationBar
{
  margin-top: 33px;
}
a{
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 600px) 
{
  .NavigationBar{
    display: none;
  }
  .ProfileName{
    width: fit-content;
    float: left;
  }
  .HiddenNavigationBarshow
  {
    float: inline-end;
    display: grid;
    justify-items: end;
  }
  .HiddenNavigationBarshow > a{
    margin-top: 5px;
    font-size: xx-large;
  }
  .Container_Head{
    display: block;
  }
  .ProfileName{
    font-size: 23px;
  }
  .More{
    height: 43px;
    width: 60px;
    margin-left: 20px;
    margin-top: 35px;
  }


}
@media screen and (min-width: 600px) {
  .More {
    display: none;
  }
}
