.OuterLine{
    border: 2px solid black;
}
.InnerLine{
    border: 2px solid black;
    margin: 5px;
    display: flex;
}
h1{
    text-align: center;
}
.FirstCompany,.SecondCompany{
    width: 90%;
    margin-left: 20px;
    height: 450px;
    overflow: scroll;
}
.Left,.Right{
    margin: 10px;
}
.accentureLOGO>img{
    height: 400px;
    width: 400px;
}
.Right{
    display: grid;
}
