.SkillContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 50px;

}
.LeftSkill
{
    width: 515px;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}
.RightSkill{
    height: 400px;
    border: 1px solid black;
    width: 398px;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 22px;
    border-radius: 25px;
    
}
.RightSkill>img{
    height: 400px; 
}
p{
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
}
h1{
    font-family: "Noto Serif-Bold", Helvetica;
}
.LeftHeader{
    margin-bottom: -20px;
}
.SkillProject>img{
    height: 55px;
}
.SkillSkill>img{
    height: 55px;
}